<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food App</title>
  </head>
  <body>
    <h1>Welcome to the the best type of Foods!! app!</h1>
    <p>An app for collecting your favorite types of Foods.</p>
    <!-- views/index.ejs -->
<a href="/food">Browse Food Categories</a>

  </body>
</html>
