<!-- views/foods/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Catalog</title>
  </head>
  <body>
            <!-- views/foods/index.ejs -->
<a href="/food/new">Add New Food</a>
<br/>
<br/>
<a href="/newCategory/new">Add New Food Category</a>

    <h1>All Foods</h1>
    <ul>
        <% foods.forEach(food => { %>
            <li><a href="/food/<%= food._id %>"><%= food.name %></a></li>
        <% }); %>


    </ul>
  </body>
</html>
